[submodule "software/source/core/tmpm370"]
	path = software/source/core/tmpm370
	url = https://dev.elarabygroup.com/WM/wm_library/_git/core_tmpm370
[submodule "software/source/mcal/tmpm370"]
	path = software/source/mcal/tmpm370
	url = https://dev.elarabygroup.com/WM/wm_library/_git/mcal_tmpm370
[submodule "software/source/os"]
	path = software/source/os
	url = https://dev.elarabygroup.com/WM/wm_library/_git/os
[submodule "software/source/handlers"]
	path = software/source/handlers
	url = https://dev.elarabygroup.com/WM/wm_library/_git/handlers
[submodule "software/source/components"]
	path = software/source/components
	url = https://dev.elarabygroup.com/WM/wm_library/_git/components
